<!doctype html>
<html lang="en">
<head>
<head>
	<% include dashboard_basic/head.ejs %>
  <title>Projects</title>

<style type="text/css">
  #mainselection select {
   border: 0;
   color: #EEE;
   background: transparent;
   font-size: 20px;
   font-weight: bold;
   padding: 2px 10px;
   width: 378px;
   *width: 350px;
   *background: #58B14C;
   -webkit-appearance: none;
}

#mainselection {
   overflow:hidden;
   width:350px;
   -moz-border-radius: 9px 9px 9px 9px;
   -webkit-border-radius: 9px 9px 9px 9px;
   border-radius: 9px 9px 9px 9px;
   box-shadow: 1px 1px 11px #330033;
   background: #58B14C url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
}

</style>
 <script type="text/javascript">  
  $().ready(function() {  
    
    //console.log( <%- JSON.stringify(userProjects) %> );
    
      for ( let t =0; t < <%-userProjects.length%>; t++){ 

        var pref=$('#'+t+'_project_id').val();
        console.log(pref);
        $.post("http://localhost:3000/projects/get_status",{projId:pref}, 
          function(result,status,jqXHR){
            console.log(jqXHR.status);
            console.log(result);
            if(result.status==="notstarted")
            {
              $('#'+t+'_working').show();
              $('#'+t+'_error').hide();
              $('#'+t+'_green').hide();
            }
            else if(result.status==="error")
            {
              $('#'+t+'_working').hide();
              $('#'+t+'_error').show();
              $('#'+t+'_green').hide();
            }
            else if(result.status==="running"){
              $('#'+t+'_working').hide();
              $('#'+t+'_error').hide();
              $('#'+t+'_green').show();
              
            }
          });
        
    $('#'+t+'_add').click(function() {  console.log(t);
      return !$('#'+t+'_select1 option:selected').remove().appendTo('#'+t+'_select2');  
    });  
    $('#'+t+'_remove').click(function() {  
      return !$('#'+t+'_select2 option:selected').remove().appendTo('#'+t+'_select1');  
    });  
    $('#btn_adduser').click(function(){
    })
   // });  
    } 
  });



 </script>  
   
 <style type="text/css">  
  a.userModal {  
   display: block;  
   border: 1px solid #aaa;  
   text-decoration: none;  
   background-color: #fafafa;  
   color: #123456;  
   margin: 2px;  
   clear:both;  
  }  
  div.userModal {   
   text-align: center;  
   margin: 10px;  
  }  
  select.userModal {  
   width: 100px;  
   height: 80px;  
  }  
 </style> 
</head>
<body>

<% for( i=0; i<userProjects.length;i++ ){ %>
 <!-- Modal -->
  <div class="modal fade" id="<%=userProjects[i].t_ph%>" role="dialog" >
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content" style="background-color:#97765F;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" style="color:white;">Add Users</h4>
        </div>
        <form action="/add_users" method="post">
        <h4>&nbsp;&nbsp;<%=userProjects[i].project_name%></h4>
        <hidden name="project_name" id="<%=i%>_proj_name" value="<%=userProjects[i].project_name%>"/> 
        <hidden name="project_href" id="<%=i%>_proj_href" value="<%=userProjects[i].t_ph%>"/>

        <div class="modal-body" style="left:30%">
        <table ><tr><td>




  <select multiple id="<%=i%>_select1" class="userModal">

    
    <% var ppresent =-1 %>
    <% for ( m =0 ; m < projectUsers.length; m++){ %>
      <% if(userProjects[i].t_ph == projectUsers[m].t_ph) {%>
        <% ppresent=m%>
      <% } %>
    <%} %>
    <% if(ppresent == -1){ %>
      <% for ( l=0 ; l< allUsers.length; l++){ %>
        <option value="{name:<%=allUsers[l].fullName%>,href:<%=allUsers[l].href%>}"><%=allUsers[l].fullName%></option>
      <% } %>
    <% }else{ %>
      <% for( k=0; k < allUsers.length; k++ ){ %>
        <% var upresent = -1 %>
        <% for( j=0; j<projectUsers[ppresent].users.length; j++ ){ %>
          <%if(allUsers[k].href == projectUsers[ppresent].users[j].href){%>
            <% upresent = 1%>
          <% } %>
        <% } %>
        <% if(upresent == -1){ %>
          <option value="{name:<%=allUsers[k].fullName%>,href:<%=allUsers[k].href%>}"><%=allUsers[k].fullName%></option> 
        <% } %>
      <% } %>
    <% } %>
  

  </select></td>
 

  <td>

  <select class="userModal" multiple id="<%=i%>_select2">
    
      <% var ppresent =-1 %>
      <% for ( m =0 ; m < projectUsers.length; m++){ %>
        <% if(userProjects[i].t_ph == projectUsers[m].t_ph) {%>
          <% ppresent=m%>
        <% } %>
      <%} %>
      <% if( ppresent != -1){ %>
        <% for( j=0; j<projectUsers[ppresent].users.length; j++ ){ %>
          <option value="{name:<%=projectUsers[ppresent].users[j].fullName%>,href:<%=projectUsers[ppresent].users[j].href%>}"><%=projectUsers[ppresent].users[j].fullName%></option>
        <% } %>
      <% } %>
    

  </select></td></tr>
  <tr>
  <td>
  <a class="userModal" href="#" id="<%=i%>_add">add &gt;&gt;</a>  
  </td><td> <a class="userModal" href="#" id="<%=i%>_remove">&lt;&lt; remove</a></td></tr></table>
 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-default" >Save Changes</button>
        </div>
        </form>
      </div>
      
    </div>
  </div>
<!-- Modal End -->
<% } %>

 <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog" >
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content" style="background-color:#97765F;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" style="color:white;">Create Project</h4>
        </div>
        <form action="/projects/add_project" method="post">
        <div class="modal-body">
        <table>
          <tr>
            <td>
          <p style="color:black;">Name </p></td>
          <td><input name="newProjName" type="text" id="projectName" size="35"/>
            </td>
            </tr>
            <tr>
            <td>
          <p style="color:black;">Description </p></td><td><input name="newProjDesc" type="text" id="projectDescription" size="35"/></td>
          </tr>
          </table>
          
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-default" >Save Changes</button>
        </div>
        </form>
      </div>
      
    </div>
  </div>
  
</div>
<!-- Modal End-->

<div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            
            <div class="container-fluid">
                <div id="stage" style="background:#00008B">
                        <h3 id="spinner" style="background: #4d4dff; text-align: center; color: #fff;">PAWN</h3>
                    </div>
                
                <div class="collapse navbar-collapse">
                    
                    <ul class="nav navbar-nav navbar-left" style="position:absolute;right:20px;top:10px;">
                        <li>
                           <a href="index.ejs">
                               Home
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-globe"></i>
                                    <b class="caret"></b>
                                    <span class="notification">5</span>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>
                                <li><a href="#">Notification 3</a></li>
                                <li><a href="#">Notification 4</a></li>
                                <li><a href="#">Another notification</a></li>
                              </ul>
                        </li>
                        <li>
                           <a href="">
                                <i class="fa fa-search"></i>
                            </a>
                        </li>
                    </ul>
                </div>
              
            </div>
            
        </nav>
        
<!-- List of all the projects and add/delete projects-->
    <div style="width:100%;height: 70%;background-color:#FFFFFF;">
         
     <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">


     <% for( var i=0; i<userProjects.length;i++ ){ %>




  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="<%=userProjects[i].project_href%>">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#<%=i%>" aria-expanded="false" aria-controls="<%=i%>">
        <span  style="color:blue">
         &nbsp;&nbsp;<%=userProjects[i].project_name%>
        </span>
        <span id="<%=i%>_working" style="display:inline;"><i  class="fa fa-cog fa-spin fa-3x fa-fw" style="font-size:20px;position:relative;float:left;"></i></span>
        <span id="<%=i%>_green" style="color:green;display:none;"><i class="fa fa-lightbulb-o" style="font-size:20px;position:relative;float:left;"></i></span>
        <span id="<%=i%>_error" style="color:red;display:none;"><i class="fa fa-exclamation-triangle" style="font-size:20px;position:relative;float:left;"></i><span  style="color:green">
    
        </a>
      </h4>
    </div>
    <div id="<%=i%>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="<%=userProjects[i].project_href%>">
      <div class="panel-body">
       <table border="1" style="width:300px">
           <thead>
               <tr>
           <th> <strong>Users</strong></th>
               </tr></thead>
            <tr>
            <form id="<%=i%>_form" method="post" action="/workspace">
              <input type="hidden" id="<%=i%>_project_name" name="project_name" value="<%=userProjects[i].project_name%>"/> 
              <input type="hidden" id="<%=i%>_project_id" name="project_id" value="<%=userProjects[i].t_ph%>"/>
              <input type="hidden" id="<%=i%>_project_href" name="project_href" value="<%=userProjects[i].project_href%>"/>
              <button id="<%=i%>_wksp" name="<%=i%>_wksp" type="submit" style="float:right;background-color: #008CBA;font-size: 15px;padding: 8px 12px;border-radius: 8px;">Workspace diagram</button>
            </form>

            <button type="button" id="btn_adduser" style="float:right;background-color: #008CBA;font-size: 15px;padding: 8px 12px;border-radius: 8px;" data-toggle="modal" data-target="#<%=userProjects[i].t_ph%>">Add Members</button><form><hidden name="project_name" value="<%=userProjects[i].project_name%>"/> <hidden name="project_href" value="<%=userProjects[i].project_href%>"/><button type="button" style="float:right;background-color: #008CBA;font-size: 15px;padding: 8px 12px;border-radius: 8px;">Delete Project</button></form></tr>
                  <tr>
                  <% var ppresent =-1 %>
      <% for ( m =0 ; m < projectUsers.length; m++){ %>
        <% if(userProjects[i].t_ph == projectUsers[m].t_ph) {%>
          <% ppresent=m%>
        <% } %>
      <%} %>
      <% if( ppresent != -1){ %>
        <% for( j=0; j<projectUsers[ppresent].users.length; j++ ){ %>
        <td>
          <%=projectUsers[ppresent].users[j].fullName%><br/>
        </td>
        <% } %>
      <% } %>
                        
                        
                  </tr>
           </table> 
     
      </div>
    </div>
  </div>
  <% } %>
 
          <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" role="button" href="#" data-toggle="modal" data-target="#myModal" aria-expanded="false" aria-controls="collapseFive" style="color:green">Add a new project   <span class="glyphicon glyphicon-plus-sign"></span>
          
     
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
      </div>
    </div>
  </div>
</div>
    
 
    </div>
    
  

    </div>
  
     <div class="sidebar" data-color="azure" data-image="/images/sidebar-5.jpg">
         <div class="sidebar-wrapper">
    
            <ul class="nav">
                <li>
                    <a href="dashboard">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="users">
                        <i class="pe-7s-user"></i>
                        <p>User Profile</p>
                    </a>
                </li>
                <li>
                    <a href="projects">
                        <i class="pe-7s-news-paper"></i>
                        <p>Projects</p>
                    </a>
                </li>
                <li>
                    <a href="index">
                        <i class="pe-7s-bell"></i>
                        <p>Logout</p>
                    </a>
                </li>
            </ul>
      </div>
    </div>
    

     <% include dashboard_basic/jsdefaults.ejs %>
    
</body>

<script>

</script>
   
</html>